spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/db_transacciones}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:admin}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: ${SERVER_PORT:8080}

app:
  feign:
    cuentas-url: ${CUENTAS_URL:http://localhost:8081}
  switch:
    network-url: ${APP_SWITCH_NETWORK_URL:http://34.16.106.7:8000}
    apikey: ${APP_SWITCH_APIKEY:ARCBANK_SECRET_KEY_2025_XYZ}
  banco:
    codigo: ${BANCO_CODIGO:ARCBANK}

logging:
  level:
    com.arcbank: DEBUG
    org.springframework.web: INFO
